.bookmark-block
  background: #F2F5F6

  > .inner
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: auto
    max-width: $max-width
    padding: 8.6rem 3rem
    font-weight: normal

    > .content
      padding-right: 2rem
      display: flex
      flex-direction: column
      justify-content: center
      padding-left: 5rem
      
      > .item 
        margin-top: 2.6rem

        &.-text
          margin: 1.6rem 0 4.1rem

        &.-droplet, &.-hash, &.-image
          &:before
            content: ''
            display: inline-block
            position: relative
            top: 0.5rem
            margin-right: 1.8rem
            width: 1.7rem
            height: 2.1rem

        &.-droplet:before
          background: url('./images/droplet.svg') no-repeat 0 0/100%

        &.-hash:before
          background: url('./images/hash.svg') no-repeat 0 0/100%

        &.-image:before
          background: url('./images/image.svg') no-repeat 0 0/100%

      > .subheading
        font-size: 4rem
        font-weight: normal

      > p
        font-size: 2rem
        max-width: 52rem
        margin-top: 1.6rem
        line-height: 2.8rem
        color: #737780
      
      @media screen and (max-width: 750px)
        padding-right: 1rem
        flex: 1
        
        > .item
          margin-top: 1rem

          &.-text
            margin: 1rem 0 2.1rem

        > .subheading
          font-size: 2.5rem

        > p
          max-width: 35rem
          
    @media screen and (max-width: 590px)
      flex-direction: column

      > .content
        padding-left: 0
        padding-top: 3rem

        > .subheading
          font-size: 3rem

        > p
          font-size: 2em
          max-width: 100%
          line-height: 2.1rem
          margin-top: 11rem