mixin bookmark-block()
  .bookmark-block
    .inner

      div.iphone-x
        img.phone-frame(src='./images/iphone-x-empty.png')
        
      div.content
        h1.subheading One for the bookmarks.
        p(class='item -text') The most practical color tool for creating an accurate palette inspired by a certain mood, object or place.
        p(class='item -droplet') Correct color tones
        p(class='item -hash') Grab the HEX color code
        p(class='item -image') See the reference image