mixin bookmark-block()
  .bookmark-block
    .inner

      +parallax-device('iphoneX', './images/picular-screenshot-1.jpg')
        
      div.content
        h1.subheading One for the bookmarks.
        p(class='item -text') The most practical color tool for creating an accurate palette inspired by a certain mood, object or place.
        p(class='item -droplet') Correct color tones
        p(class='item -hash') Grab the HEX color code
        p(class='item -image') See the reference image