@import '../settings.sass'

.view
  overflow-x: hidden
  padding-top: 14rem

  > .inner
    display: flex
    flex-direction: column
    height: 100%
    margin: 0 auto
    max-width: $max-width
    padding: 5rem 3rem 25rem
    width: 100%

    > .welcome
      align-items: center
      display: flex
      height: 100vh
      margin-top: -19rem
      min-height: 45rem
      position: relative

      > h1
        font-weight: bold
        margin-left: 10rem
        max-width: 63rem
        position: relative
        z-index: 1

        > span
          color: $color-red

      > .moon
        left: 34rem
        margin-top: -8rem
        position: absolute

    > .information
      align-items: center
      display: flex
      height: 75rem
      justify-content: center
      position: relative
      pointer-events: none

      > .foundationPillar
        left: -10rem
        position: absolute
        overflow: hidden

        > h2
          position: relative
          display: block
          transform: translateX(20rem) translateZ(0)
          opacity: 0
          pointer-events: auto
          cursor: default

          @for $i from 1 through 3
            &:nth-child(#{$i})
              transition: transform 0.3s #{0.2 * $i}s ease, opacity 0.3s #{0.2 * $i}s ease

        &:after
          background-image: linear-gradient(90deg, rgba(7,11,19,0.00) 0%, #070B13 85%)
          content: ''
          height: 100%
          position: absolute
          top: 0
          width: 110%

        > h2
          color: #0E1626
          font-size: 14rem
          line-height: 14rem
          text-transform: uppercase
          transition: color 0.5s ease

          &.active
            color: #2C446F

      > p
        font-size: 2.4rem
        max-width: 56.3rem
        position: absolute
        text-align: center
        z-index: 1
        opacity: 0
        visibility: hidden
        transition: opacity 0.5s ease, visibility 0.5s ease

        &.active
          opacity: 1
          visibility: visible

        > span
          font-weight: bold

      > .moon
        transition: opacity 0.7s ease
        opacity: 0
        position: absolute
        right: -18rem
        top: 2rem

      &.inView
        > .foundationPillar
          > h2
            transform: translateX(0) translateZ(0)
            opacity: 1

        > .moon
          opacity: 1

    > .work
      margin-top: 10rem
      margin-bottom: 27rem
      position: relative

      > .text
        margin-left: 10rem

        > h1
          color: $color-red

        > p
          font-size: 1.8rem
          letter-spacing: 0.045rem
          line-height: 2.5rem
          margin-top: 2rem
          max-width: 37.7rem

      > .button
        left: calc(100% - 10rem)
        position: relative
        top: 2rem
        transform: translateX(-100%)

      > .projects
        display: grid
        grid-gap: 2rem
        grid-template-columns: auto
        margin-top: 5rem

        > .project
          background: #eee
          height: 34rem

          &:first-child
            grid-column: span 2
            height: 40rem

      > .moon
        bottom: -8rem
        position: absolute
        right: -10rem

    @media screen and (max-width: 1350px)
      > .information > .foundationPillar
        left: -2rem

    @media screen and (max-width: 800px)
      > .welcome > h1, > .work > .text
        font-size: 3rem
        margin-left: 0

      > .information > p, > .work > .text > p
        font-size: 1.6rem
        line-height: 2.2rem

      > .welcome > .moon
        left: calc(50% - 22.5rem)
        margin-top: -8rem
        position: absolute

      > .information > .moon
        left: 85%
        right: auto
        top: 2rem

      > .work > .button
        left: 100%
