include ../nav-menu/index.pug

mixin front-hero
  .front-hero
    .inner
      .header
        img(src='./images/logo-circle.svg', alt='Future Memories Logo')

        +nav-menu

      .content
        h1.title
          em Future Memories
          |  is a digital studio where strategic design and technology unite into products of tomorrow.

      .social
        a(href='https://www.facebook.com/futurememoriesab/')
          img(src='./images/facebook.svg', alt='Facebook')

        a(href='https://www.instagram.com/futurememoriesab/')
          img(src='./images/instagram.svg', alt='Instagram')

        a(href='https://www.linkedin.com/company/5100963/')
          img(src='./images/linkedin.svg', alt='LinkedIn')
