mixin parallax-device(type, background)
  .parallax-device(class=(type === 'iphoneX') && `-iphoneX`)
    if (type === 'iphoneX')
    img.parallax-frame(src='./images/iphone-x-empty.png')
    .parallax-content
      img.parallax-background(src=background)