mixin team-block
  section#team.team-block.grid-block
    h2.heading The Team
    p.subheading A look under the hood

    .grid
      each astronaut in data.astronauts
        .item
          +astronaut-card(
            astronaut.name,
            astronaut.image,
            astronaut.title,
            astronaut.desc,
            astronaut.email,
            astronaut.phone
          )

      a(href=`mailto:${data.contactMail}`).item.-promotion
        span.text Come and join the crew!
        .right-arrow
