mixin projects-block(current, background, color)
  .projects-block#projects(style=`${background ? `background:${background};` : ''}${color ? `color:${color};` : ''}`)
    .inner

      div.block
        h1.subheading See more projects
        a.link(href='/cases.html') Browse all projects

      div.block(class='project')

        +case-block(data.browseCases, 'more-projects', current)