mixin parallax-object-block(items, background)
  .parallax-object-block(style=`background: ${background}`)
    .inner

     .content
        each item in items
          +parallax-object(item.image, item.speed, item.startPos)