.parallax-object-block
  background: #F2F5F6
  max-height: 86rem
  overflow: hidden

  > .inner
    display: flex
    margin: auto
    justify-content: center
    max-width: $max-width
    width: 100%
    padding: 0 3rem
    font-weight: normal

    > .content
      width: 100%
      max-width: 95rem
      display: inline-flex
      justify-content: space-between
      position: relative

      &.-diagonassl
        transform: rotate(60deg)
        margin-top: -60rem
        width: 80vw
        position: relative
        margin-top: -52%
        margin-left: -50%

  &.-diagonal
    height: 50vw
    width: 100%
    max-height: 70rem

    > .inner > .content
      transform: rotate(60deg)
      margin-top: -60rem
      width: 80vw
      position: relative
      margin-top: -50%
      margin-left: -50%