@import '../settings.sass'

.view
  position: relative
  padding-top: 14rem
  background: $empty-space
  color: #FFF
  width: 100%

  > .inner
    background: none
    overflow: hidden

  p
    font-size: 2rem
    opacity: .8

  .designSection 
    background: $cloudy-sky
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: -10rem
    padding-bottom: 15rem
    padding: 0 2rem
    @media screen and (min-width: 850px)
      padding: 0      
      margin-top: 15rem

    .image  
      display: flex
      object-fit: cover
      align-self: center
      max-width: 100%
      height: 100%
      max-height: 50rem
      @media screen and (min-width: 850px)
        max-height: 70rem
    
    .imageHideOnMobile
        display: none
        @media screen and (min-width: 850px)
          margin-bottom: 10rem
          display: block

    .imageGrid
      position: relative
      top: -10rem
      display: flex
      flex-direction: column
      justify-content: center 
      gap: 5rem
      z-index: 1
      @media screen and (min-width: 850px)
        max-width: 145rem
        flex-direction: row
        margin: 0 5rem
  .engagementSection
    & > div > .badges 
      position: relative
      height: 40rem
      width: 32rem
      > img 
        position: absolute
      img:nth-child(1)
        top: 0
        left: 10%
      img:nth-child(2)
        right: 0
        bottom: 10%
      img:nth-child(3)
        bottom: 0
        left: 0

  

