mixin footer-block
  .footer-block#contact
    .inner
      img.logo(src='./images/logo-circle.svg', alt='Future Memories Logo')

      .social
        .mail
          a(href='mailto:hello@futurememories.se')
            img(src='./images/mail.svg', alt='Email')
            span.title Say hi!
            span.text hello@futurememories.se

        a(href='https://www.facebook.com/futurememoriesab/')
          img(src='./images/facebook.svg', alt='Facebook')

        a(href='https://www.instagram.com/futurememoriesab/')
          img(src='./images/instagram.svg', alt='Instagram')

        a(href='https://www.linkedin.com/company/5100963/')
          img(src='./images/linkedin.svg', alt='LinkedIn')
