.astronaut-card
  color: white
  position: relative
  padding: 3rem
  display: flex
  flex-direction: column
  justify-content: flex-end
  overflow: hidden

  &:before
    content: ''
    background: rgba(#0b0c0e, 0.7)
    z-index: 2
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

  > img
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    height: 100%
    object-fit: cover

  > .name
    font-size: 4rem
    line-height: 5rem
    font-weight: bold
    text-transform: uppercase

  > .name, > .info
    position: relative
    z-index: 3

  > .info
    padding-top: 1.5rem
    height: 0
    opacity: 0
    transition: height .3s ease, opacity .3s ease, padding .3s ease
    overflow: hidden

  > .info > p
    font-size: 1.6rem
    line-height: 2.4rem
    margin-bottom: 1em

    &:last-child
      margin-bottom: 0

  .no-touchevents &:hover
    > .info
      opacity: 1

  .no-touchevents &:not(:hover) > .info
    height: 0 !important
    padding-top: 0 !important

  .touchevents & > .info
    display: none

  @media screen and (max-width: $small-grid)
    padding: 1.5rem

    > .name
      font-size: 1.6rem
      line-height: 2rem
