mixin astronaut-card(name, desc, phone)
  article.astronaut-card(tabindex='1')
    .shine

    //- Send image as block because of bug: https://github.com/Ty3uK/parcel-plugin-pug/issues/1
    block

    h3.name= name

    .info
      p= desc
      p= phone
