@import '../settings'

.button
  background: $color-red
  border: 0
  color: #fff
  cursor: pointer
  font-size: 1.8rem
  font-weight: bold
  padding: 2.2rem 5rem
  position: relative
  display: inline-flex
  transition: box-shadow 0.2s ease
  overflow: hidden
  justify-content: center
  align-items: center
  min-height: 6rem

  &:not(.fullsize)
    border-radius: 5.4rem

  &.fullsize
    display: flex
    flex-direction: column
    font-size: 4rem
    height: 100%
    align-items: flex-start
    justify-content: flex-end
    padding: 4rem
    text-align: left
    width: 100%

    @media screen and (max-width: 800px)
      height: auto

    > svg
      margin-top: 2rem

  &.small
    padding: 1.5rem 3rem
    height: 5rem
    min-height: 5rem

  &.center
    justify-content: center

    > span
      margin: 0

  &[disabled]
    background: rgba(#eee, 0.5)
    color: #444
    pointer-events: none

  > span
    margin-right: 2rem
    display: inline-block
    line-height: 1

  > .arrow
    &.buttonArrow
      position: relative
      top: .1rem
      width: 3.6rem
      height: 1.6rem
      margin-right: -2rem
      overflow: hidden

      svg
        position: absolute
        height: 100%
        left: 0

        @media screen and (min-width: 1025px)
          transform: translateX(-2rem)
          transition: transform .3s ease

    &.fullsize
      width: 6.7rem

  &.loading
    > span
      opacity: 0.3

    &:before
      animation: loader 1.1s infinite linear
      border-bottom: 1.1em solid rgba(255, 255, 255, 0.2)
      border-left: 1.1em solid #196866
      border-radius: 50%
      border-right: 1.1em solid rgba(255, 255, 255, 0.2)
      border-top: 1.1em solid rgba(255, 255, 255, 0.2)
      content: ''
      font-size: 3px
      height: 10em
      left: 50%
      margin: -5em 0 0 -5em
      position: absolute
      top: 40%
      width: 10em

  &:hover
    opacity: 1
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.28)

  &.transparent
    padding: 2.2rem 3rem
    background: none
    color: $color-red

    &:hover
      box-shadow: none

  &.reverse
    flex-direction: row-reverse

    > .label
      transform: translateX(20px)
      margin-left: 1rem

    > .arrow
      transform: rotate(180deg)
      margin-left: -2rem

  // Transitions
  &.slideArrow
    > .arrow
      &.first
        opacity: 0
        position: absolute
        top: calc(100% - 7.7rem)
        left: 4rem
        transform: translateX(-40px)
        transition: transform 0.15s ease-in-out, opacity 0.25s ease
        transition-delay: 0s

      &.second
        transition: transform 0.15s ease-in-out, opacity 0.25s ease
        transition-delay: 0.2s

    &:hover
      > .arrow
        &.first
          opacity: 1
          transform: translateX(0px)
          transition-delay: 0.15s

        &.second
          opacity: 0
          transform: translateX(40px)
          transition-delay: 0s

  &.slide
    &:hover
      .arrow
        svg
          transform: translateX(0)

@keyframes loader
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
