include astronaut-card/astronaut-card.pug
include case-block/case-block.pug
include case-card/case-card.pug
include footer-block/footer-block.pug
include header-hero/header-hero.pug
include nav-menu/nav-menu.pug
include team-block/team-block.pug
include error-block/error-block.pug
include large-image/large-image.pug
include text-block/text-block.pug
include projects-block/projects-block.pug
include devices-block/devices-block.pug
include bookmark-block/bookmark-block.pug
include parallax-device/parallax-device.pug
