.projects
  display: grid
  grid-gap: 2rem
  grid-template-columns: repeat(6, 1fr)
  margin-top: 5rem
  position: relative

  > .project
    background: #eee
    display: inline-flex
    height: 34rem
    justify-content: space-between
    overflow: hidden
    padding: 4rem 4rem 0
    position: relative
    grid-column: span 3
    width: 100%
    transition: all 0.2s ease

    &.button
      padding: 0

    > .details
      margin-right: 2rem
      min-width: 25rem
      position: relative
      z-index: 2

      > .arrow
        bottom: 4rem
        position: absolute
        width: 3.8rem

      > h3
        font-size: 2rem

      > .desc
        font-size: 2rem
        margin: 2rem 0

      > .type
        font-size: 1.6rem
        font-weight: 600
        text-transform: uppercase

    > img
      position: relative
      z-index: 1

      &.background
        position: absolute
        top: 0
        left: 0
        object-fit: cover
        z-index: 0

        &.height
          height: 100%
          min-width: 100%

        &.width
          height: 100%
          min-width: 100%

    &:first-child
      grid-column: span 6
      height: 40rem

    &:nth-child(4), &:nth-child(5), &:nth-child(6),
    &:nth-child(9), &:nth-child(10), &:nth-child(11),
    &:nth-child(14), &:nth-child(15), &:nth-child(16),
      grid-column: span 2

  @media screen and (max-width: 1000px)
    > .project
      &:nth-child(4), &:nth-child(5), &:nth-child(6),
      &:nth-child(9), &:nth-child(10), &:nth-child(11),
      &:nth-child(14), &:nth-child(15), &:nth-child(16),
        grid-column: span 3

  @media screen and (max-width: 800px)
    display: block
    left: -3rem
    width: 100vw

    > .project

      > .details
        margin-right: 1rem