mixin header-hero(title, modifier, subtitle)
  .header-hero(class=modifier ? modifier : '')
    .inner
      .header
        a(href='/')
          if modifier && modifier.indexOf('-inverted') > -1
            img(src='./images/logo-circle-inverted.svg' alt='Future Memories Logo')
          else
            img(src='./images/logo-circle.svg' alt='Future Memories Logo')

        +nav-menu

      .content
        if title
          h1.title: em=title
        else
          h1.title
            em Future Memories
            |  is a digital studio where strategic design and technology unite into products of tomorrow.

        if subtitle
          h2.subtitle= subtitle

      if !title
        .social
          a(href='https://www.facebook.com/futurememoriesab/')
            img(src='./images/facebook.svg' alt='Facebook')

          a(href='https://www.instagram.com/futurememoriesab/')
            img(src='./images/instagram.svg' alt='Instagram')

          a(href='https://www.linkedin.com/company/5100963/')
            img(src='./images/linkedin.svg' alt='LinkedIn')
