mixin case-block(items, type)
  section#cases.case-block.grid-block(class=`-${type}`)
    if type === 'preview'
      h2.heading Selected Projects
      p.subheading We're only as good as our latest work

    .grid
      each item in items
        .item
          +case-card(
            item.name,
            item.image,
            item.desc,
            item.client,
            item.type,
            item.actions,
            type === 'preview'
          )

      if type === 'preview'
        a(href=prod ? '/cases' : '/cases.html').item.-promotion
          span.text Se all cases & clients
          .right-arrow

      if type === 'full'
        a(href=`mailto:${data.contactMail}`).item.-promotion
          span.text Create something awesome with us!
          .right-arrow
