mixin case-block
  section#cases.case-block.grid-block
    h2.heading Selected Projects
    p.subheading We're only as good as our latest work

    .grid
      .item
        +case-card(
          'Nelly App',
          './images/cases/nelly.jpg',
          'A digital shopping experience for iPhone and iPad enhanced with community features to share and discuss latest fashion trends.',
          'Nelly.com',
          'iOS',
          [
            { type: 'ios', url: 'https://itunes.apple.com/se/app/nelly/id1157319834' }
          ]
        )

      .item
        +case-card(
          'Retts Plus',
          './images/cases/retts-plus.jpg',
          'Lorem ipsum',
          'Predicare',
          'UI/UX'
        )

      .item
        +case-card(
          'Driver App',
          './images/cases/driver-app.jpg',
          'Lorem ipsum',
          'Mat.se',
          'iOS, UX/UI'
        )

      a(href='/cases').item.-promotion
        span.text Se all cases & clients
        .right-arrow
