@import '../../settings.sass'

.brandBlock
  overflow: hidden

  > .content
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin: auto
    max-width: $max-width
    padding: $global-padding

    &.picular

      > .block
        width: 100%
        position: relative
        z-index: 1

        &.grey
          width: 40%
          padding-left: 10%

          &:after
            content: ''
            display: inline-block
            position: absolute
            top: -12rem
            left: 0
            margin: 2rem 0.5rem 0 2rem
            background: #E9EDEE
            width: 60vw
            height: calc(100% + 20rem)
            transition: all 0.2s ease
            z-index: -1

        > svg
          width: 100%

          &.name, &.logoWithLines
            :global(.logoPrime),
            :global(.logoSecond),
            :global(.text)
              transition: color 0.3s ease-in-out

            :global(.logoPrime)
              color: #439CBC

            :global(.logoSecond)
              color: #A2CEDE

            :global(.text)
              color: #778A99

          &.name
            max-width: 48.7rem
            width: 100%
            //margin-right: 22rem

          &.logoWithLines
            width: 18rem

          :global(.brandLines)
            opacity: 0
            transition: opacity 0.3s ease-in-out

      &:hover
        > .block
          > svg
            &.name, &.logoWithLines
              :global(.logoPrime),
              :global(.logoSecond),
              :global(.text)
                color: #CFD4D7

            :global(.brandLines)
              opacity: 1

      @media screen and (max-width: 550px)
        flex-direction: column-reverse

        > .block
          &.grey
            width: 100%
            padding-left: 0
            text-align: center
            top: -5rem

            &:after
              content: ''
              display: inline-block
              position: absolute
              top: -7rem
              left: -5rem
              margin: 2rem 0.5rem 0 2rem
              background: #E9EDEE
              width: 100vw
              height: calc(100% + 10rem)
              transition: all 0.2s ease
              z-index: -1
          > svg
            &.name
              margin-right: 0
              margin-top: 10rem

            &.logoWithLines
              width: 40%