@import '../../settings.sass'

.deviceBlock

  > .device
    position: relative
    display: inline-flex
    justify-content: center
    align-items: center
    min-height: 6rem
    padding: 1.5rem 4rem
    background: $color-red
    border-radius: 5.4rem
    overflow: hidden
    color: white
    margin-left: 1rem
    margin-right: 1rem

    &:nth-child(2)
      margin-top: 2rem

    > svg
      position: relative

    > .logo
      width: 1.6rem
      margin-right: 1rem

    > span
      font-size: 1.8rem
      margin: 0 0.5rem

  &.black
    > .device
      background: $color-darker-blue