@import '../../settings.sass'

.parallaxBumpBlock
  background: #F2F5F6
  overflow: hidden
  position: relative

  > .inner
    display: flex
    font-weight: normal
    justify-content: space-between
    margin: auto
    max-width: $max-width
    padding: 9.6rem 0 9.6rem 3rem
    position: relative
    width: 100%

    > .content
      max-width: 50rem
      overflow: hidden

      > h1, h2
        font-weight: normal
        margin: 6rem 0 2rem
        white-space: pre-line

      h2
        font-size: 2.5rem

        @media screen and (min-width: 701px)
          font-size: 3rem

        @media screen and (min-width: 1001px)
          font-size: 4rem

      > p
        font-size: 2rem
        line-height: 2.8rem
        max-width: 74rem
        opacity: 0.8
        white-space: pre-line

    > .parallaxes
      display: flex
      flex-wrap: wrap
      justify-content: flex-end
      position: relative
      width: 60%
      pointer-events: none

    @media screen and (max-width: $medium-grid)
      > .content
        > h1, h2
          margin-top: 0

      > .parallaxes
        margin: -7rem auto -35%
        width: 70%

    @media screen and (max-width: $small-grid + 100px)
      flex-direction: column-reverse
      text-align: center
      padding: 9.6rem 0 9.6rem 0

      > .content
        margin: auto
        padding: 0 3rem

        > h1, h2
          margin-top: 0rem

      > .parallaxes
        width: 55%

  &:not(.nordish):not(.wearevoice):not(.bauer-university)
    > .inner
      > .parallaxes
        margin: -7rem 0 -35% auto

        *
          &:nth-child(1)
            right: -2rem
            z-index: 4

          &:nth-child(2)
            right: 4rem
            z-index: 3

          &:nth-child(3)
            right: 2rem
            z-index: 2

  &.nordish
    overflow: visible

    > .inner
      > .content
        @media screen and (min-width: $small-grid + 101px) //801
          max-width: 35rem

        @media screen and (min-width: 900px)
          max-width: 45rem

        @media screen and (min-width: 1100px)
          max-width: 50rem

        > h1, h2
          margin-top: 0
          font-weight: 500
          color: #161D2B

        p
          color: #737780
          opacity: 1 !important

      > .parallaxes
        margin: 0 auto
        background: black

        > div:nth-child(1)
          left: -20%
          z-index: 4

        > div:nth-child(2)
          left: 55%
          z-index: 3

        @media screen and (min-width: 560px)
          > div:nth-child(1)
            left: -53%

        @media screen and (min-width: $small-grid + 101px)
          > div:nth-child(1)
            left: 13%

          > div:nth-child(2)
            left: unset
            right: -15%

        @media screen and (min-width: $breakpoint-desktop)
          > div:nth-child(2)
            right: -35%

  &.wearevoice
    overflow: visible

    > .inner
      align-items: center

      > .content
        @media screen and (min-width: $small-grid + 101px) //801
          max-width: 35rem

        @media screen and (min-width: 900px)
          max-width: 45rem

        @media screen and (min-width: 1100px)
          max-width: 50rem

        > h1, h2
          margin-top: 0

      > .parallaxes
        height: 70rem
        margin: -2rem auto -30%

        @media screen and (min-width: 400px)
          margin: 0 auto -10%

        @media screen and (min-width: 450px)
          margin: 0 auto

        @media screen and (min-width: 500px)
          margin: 3rem auto 10rem

        @media screen and (min-width: 550px)
          margin: 3rem auto 20rem

        @media screen and (min-width: $small-grid + 101px)
          height: 50rem

        @media screen and (min-width: $breakpoint-desktop)
          height: 70rem
          margin: 0

        > div:nth-child(1)
          left: 35%
          z-index: 4
          margin: 0

          @media screen and (min-width: $small-grid + 101px)
            left: 22%

          @media screen and (min-width: $breakpoint-desktop)
            left: 20%

          @media screen and (min-width: $breakpoint-desktop-large)
            left: 35%

        > div:nth-child(2)
          left: -25%
          z-index: 3

          @media screen and (min-width: $small-grid + 101px)
            left: -8%

          @media screen and (min-width: $breakpoint-desktop)
            left: -25%
  &.bauer-university
    overflow: visible

    > .inner
      > .content
        @media screen and (min-width: $small-grid + 101px) //801
          max-width: 35rem

        @media screen and (min-width: 900px)
          max-width: 45rem

        @media screen and (min-width: 1100px)
          max-width: 50rem
        > .parallaxes
            margin: 0 auto