@import '../../settings.sass'

.textBlockMultiple

  > .inner
    display: flex
    flex-direction: row
    font-weight: normal
    margin: auto
    max-width: $max-width
    padding: 10.5rem 3rem

    &.centered
      text-align: center

    > .content

      &:not(:last-child)
        margin-right: 15rem

      > h1
        font-weight: normal
        white-space: pre-line
        margin-bottom: 2rem

      > p
        white-space: pre-line
        font-size: 2rem
        line-height: 2.8rem
        opacity: 0.8

    &:not(.highlightLeftSide) > .content
      flex: 1

    &.highlightLeftSide
      > .content
        &:nth-child(1)
          width: 40%

        &:nth-child(2)
          width: 60%

          > p
            font-size: 1.8rem
            line-height: 2.5rem

        &:not(:last-child)
          margin-right: 5rem

    @media screen and (max-width: $small-grid)
      flex-direction: column

      > .content
        width: 100% !important

        &:not(:last-child)
          margin-right: 15rem
          margin-bottom: 2rem