- var bodyClass = ''

block vars

include components/index.pug

doctype html
head
  title Future Memories
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='Future Memories is a digital studio where strategic design and technology unite into products of tomorrow.')
  meta(property='og:image' content='https://futurememories.se/ogimage.jpg')
  meta(property='og:image:width' content='1200')
  meta(property='og:image:height' content='630')
  link(rel='stylesheet' href='/style.css')
body(class=bodyClass)
  block content

  script(src='/script.js' async)
