@keyframes slideInLeft
  0%
    transform: translateX(-12rem)
  100%
    transform: none

@keyframes slideInRight
  0%
    transform: translateX(12rem)
  100%
    transform: none

@keyframes slideInBottom
  0%
    transform: translateY(2rem)
  100%
    transform: none

@keyframes slideInTop
  0%
    transform: translateY(-8rem)
  100%
    transform: none

@media screen and (min-width: 801px)
  @keyframes slideInTop
    0%
      transform: translateY(-15rem)
    100%
      transform: none

@keyframes fadeInTop
  0%
    transform: translateY(-.8rem)
    opacity: 0
  100%
    transform: none
    opacity: 1

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes animateIn
  from
    opacity: 0
    transform: translateY(-1rem)
  to
    opacity: 1
    transform: none

@keyframes rotateIn
  from
    opacity: 0
    transform: rotate(-25deg)
  to
    opacity: 1
    transform: none
