extends ./_base.pug

block vars
  - bodyClass = '-case -dark'

block content
  +header-hero('Retts Plus', '-subpage -case -dark', 'Safe medical decisions')
  +video-block('./videos/retts-plus.mp4', './images/cases/retts-plus-video.jpg', '#020305', [{image: './images/cases/retts-plus-badge-design-s.svg'}])
  +text-block-multiple(
    'Efficiency for patients',
    `Predicare provides 95% of emergency departments in Sweden, and many in Norway, with a system that algorithmically classifies a patient according to the severity of their symptoms, and suggests the next course of action.`,
    [
      `RETTS, Rapid Emergency Triage and Treatment System, works by measuring and assessing a number of vital parameters at the first examination, as well as by gathering a structured and standardised medical history regarding the reason for the visit and the patient’s current symptoms.`,
      `Based on a thorough user research phase we created a digital user interface that took advantage of the entire RETTS capability. We also developed a timeline that logged all interactions with each patient to provide a clearer overview of the patient’s entire care stay.`,
      `This project was nominated in the Design S, Sweden’s biggest and most comprehensive design award, backed by the entire design industry. The award is aimed at professional designers, architects, individual specialists, producers and companies that work with design in a broad sense.`
    ],
    `#1A2132`, `#fff`)
  +slide-in-block(
    './images/cases/retts-plus-2.png',
    'A clear overview',
    [`Giving a doctor or nurse an overview of the patient's visit is a key feature for making the right decision and giving proper care. At the right time.`],
    '#161D2B', '#fff')
  +slide-in-block(
    './images/cases/retts-plus-3.png',
    'Every step on the way',
    [`We developed a timeline that shows the entire patient’s journey from first contact until it was time to go home. This improved the ability to track  events during a patient’s visit better, and enabled nurses and doctors to take make the correct decision at any point.`],
    '#161D2B', '#fff', '-right -move-up')
  +parallax-object-block([
      {image: './images/cases/retts-plus-4.png', speed: -20, startPos: 17},
      {image: './images/cases/retts-plus-5.png', speed: 11, startPos: -39}
      ], '#0C0F16', 'diagonal')
  +projects-block('Retts Plus', '#1A2132', '#fff')
  +footer-block()
