extends ./_base.pug

block vars
  - bodyClass = '-case -dark'

block content
  +header-hero('proFLIGHT', '-subpage -case -dark', 'Pilot Decision support')
  +large-image('./images/cases/proflight-1.jpg')

  +center-block('Flightmode on', 'Presents in real time all required weather related information to the pilot in a nice and clear interface. The pilot can access everything from significant weather charts, SIGMETS and station information to tailored high resolution weather such as turbulence and winds along the flight plan route.', '', '', '', '#161D2B', '#fff')


  +text-grid-block([{image: './images/cases/proflight-2.png'}, {title: 'The sky’s the limit.', desc: `Developed in close cooperation with professional airline pilots to achieve a user friendly interface and a clear view of the weather and warnings/hazards along the planned flight route. The combination of the synchronized horizontal- and vertical view improves the pilot ́s situational awareness.`}, {image: './images/cases/proflight-3.png'}, {image: './images/cases/proflight-4.png'}], '', '#fff')
  +text-block('One flight ahead', `Combining the real time access to high resolution weather and flight path optimization, assists the pilot in making better pre- and in-flight decisions leading to a safer and more efficient flight.`, ['image', 'Paykartan Screenshoot - gothenburg', './images/cases/proflight-5.png', 882], '#161D2B', '#fff')
  +projects-block('proflight', '#1A2132', '#fff')
  +footer-block()
