extends ./_base.pug

block vars
  - bodyClass = '-case -dark'

block content
  +header-hero('TENNIS WATCH', '-subpage -case -dark', 'Grand slam')
  +video-block('./videos/tennis-watch.mp4', './images/cases/tennis-watch-video.jpg', '#000301', [{image: './images/cases/tennis-watch-badge-best-new-app.svg', title: 'Apple App Store'}, {image: './images/cases/tennis-watch-badge-amazing-app.svg', title: 'Apple App Store'}])
  +center-block('First in the game', 'Tennis Watch was the first tennis app designed for Apple Watch. It turns your Apple Watch into a simple and easy-to-use score tracking device. All matches are stored on your iPhone and sophisticated statistics give you insights on how to improve your game.', '', '', '', '#161D2B', '#fff')
  +slide-in-block(
    {path: './images/cases/tennis-watch-1.png', width: 427, height: 703, positon: 'inside'},
    'Match trends and\nperformance statistics',
    `Keep track of your progress with statistics and match trend trackning to improve your game. It’s all about winning right?`,
    '#0C0F16', '#fff', 'tennis-watch')
  +slide-in-block(
    {path: './images/cases/tennis-watch-2.png', width: 243, height: 438, positon: 'inside'},
    'Tennis score tracker and\nstatistics for Apple Watch',
    `Keeping track of your matches and opponents. Designed for any scoring method.`,
    '#0C0F16', '#fff', '-right')
  //-+center-block('Available in app store', '', './images/cases/tennis-watch-3.jpg', './images/cases/tennis-watch-logo.svg', {ios: 'https://itunes.apple.com/us/app/tennis-watch-tennis-score/id959541448?mt=8'}, '', '#fff')
  +center-block('Match point.', '', './images/cases/tennis-watch-3.jpg', '', '', '', '#fff')
  +projects-block('Tennis Watch', '#1A2132', '#fff')
  +footer-block()
