extends ./_base.pug

block vars
  - bodyClass = '-case'

block content
  +header-hero('Picular', '-subpage -case -inverted', 'Google, but for colors')
  +large-image('./images/picular-1.jpg', 2880, 1276)
  +footer-block
