@import './settings.sass'
@import './fonts'

*
  box-sizing: border-box
  margin: 0
  padding: 0

html, body, .app
  height: 100%

html
  color: #fff
  font-size: 62.5%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: $color-darker-blue

html, button
  font-family: 'Space Grotesk'

a
  color: #000
  text-decoration: none
  transition: opacity 0.1s ease
  font-weight: 500

  &:hover
    opacity: 0.7

h1
  font-size: 4rem

.app
  display: block
  -webkit-overflow-scrolling: touch
  position: relative
  min-height: 100%
  width: 100%
  font-size: 1.6rem

  &.locked
    overflow: hidden
    max-height: 100vh