include components/index.pug

doctype html
title Future Memories
link(rel='icon' href='./favicon.ico')
link(rel='stylesheet' href='./index.sass' inline)
meta(name='viewport' content='width=device-width, initial-scale=1')

+front-hero
+team-block
+footer-block

script(src='./index.js' async)
